/* CSS Code */

html{
    scroll-behavior: smooth;
}

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }


    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        position: sticky;
        top: 0;
        cursor: pointer;
    }
 
    .background {
        background: black;
        background-blend-mode: darken;
        background-size: cover;
    }
 
    .nav-list {
        width: 70%;
        display: flex;
        align-items: center;
    }
 
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
 
    .logo img {
        width: 180px;
        border-radius: 50px;
    }
 
    .nav-list li {
        list-style: none;
        padding: 26px 30px;
    }
 
    .nav-list li a {
        text-decoration: none;
        color: white;
    }
 
    .nav-list li a:hover {
        color: grey;
    }
 
    .rightnav {
        width: 30%;
        text-align: right;
    }
 
    #search {
        padding: 5px;
        font-size: 17px;
        border: 2px solid grey;
        border-radius: 9px;
    }

    #search {
        padding: 5px;
        font-size: 17px;
        border: 2px solid #808080;
        border-radius: 9px;
    }

    .firstsection {
        background-color: yellowgreen;
        height: 400px;
    }

    .secondsection {
        background-color: blueviolet;
        height: 400px;
    }

    .box-main {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000000;
        max-width: 80%;
        margin: auto;
        height: 80%;
    }

    .firsthalf {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .secondhalf {
        width: 30%;
    }

    .secondhalf img {
        width: 70%;
        border: 4px solid #ffffff;
        border-radius: 150px;
        display: block;
        margin: auto;
    }

    .text-big {
        font-family: 'Piazzolla', serif;
        font-weight: bold;
        font-size: 35px;
    }

    .text-small {
        font-size: 18px;
    }

    .btn {
        padding: 8px 20px;
        margin: 7px 0;
        border: 2px solid #ffffff;
        border-radius: 8px;
        background: none;
        color: white;
        cursor: pointer;
    }

    .btn-sm {
        padding: 6px 10px;
        vertical-align: middle;
    }

    .section {
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 90%;
        margin: auto;
    }

    .section-Left {
        flex-direction: row-reverse;
    }

    .paras {
        padding: 0px 65px;
    }

    .thumbnail img {
        width: 250px;
        border: 2px solid #000000;
        border-radius: 26px;
        margin-top: 19px;
    }

    .center {
        text-align: center;
    }

     /*footer*/
footer{
    padding:70px 15px;
    background-color: #050507;
}

footer .logo{
    flex:0 0 100%;
    max-width: 100%;
    text-align: center;
    font-size: 45px;
    color:#e62424;
    font-weight: 900
}

.about-me .about-content .text .social-links{
    padding-top:30px;
}
.about-me .about-content .text .social-links a{
    height:30px;
    width:30px;
    background-color: #000000;
    border-radius:3px;
    display: inline-block;
    border:1px solid #f7f6f6;
    line-height: 28px;
    text-align: center;
    margin:0 1px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.about-me .about-content .text .social-links a:hover{
    background-color: transparent;
}
.about-me .about-content .text .social-links a .fa{
    color: #ffffff;
    font-size:12px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.about-me .about-content .text .social-links a:hover .fa{
    color:#f8f5f5;
}


/*copyright*/
.copyright{
    background-color: #0c0c17;
    border-top:1px solid #1d1d27;
    padding:15px;
}
.copyright p{
    color:#838383;
    margin:0;
    text-align: center;
    font-weight: 400;
    font-size:15px;
}

.ham-burger .fa{
    font-size:20px;
    height:30px;
    width:35px;
    background-color: #ffffff;
    color:#660066;
    border-radius:3px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    display: none;
    border:1px solid #eeeeee;
}
